body {
    background-color: #222;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#animated-box {
    width: 100px;
    height: 100px;
    background-color: yellow;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 2%;
}